*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: skyblue;
    text-align: center;
}

.container
{
    height: 70vh;
}

.game{
    height: 60vmin;
    width: 60vmin ;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}

.box
{
    height: 18vmin;
    width: 18vmin;
    border-radius: 5px;
    border: none;
    filter: drop-shadow(5px 5px 5px);
    font-size: 8vmin;
    color: #b0413e;
    background-color: white;
}

.reset-btn, .newgame{
    font-size: 4vmin;
    padding: 5px;
    border-radius: 10px;
    border: none;
    box-shadow: 2px 2px 10px;
    cursor: pointer;
    background-color: #191913;
    color: white;
    margin: 10px;
}

.msg{
    font-size: 40px;

}

.hide{
    display: none;
}