*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wraper{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wraper .loader{
    display: flex;
    justify-content: space-evenly;
    padding: 0 20px;
}

.loader .loading{
    background-color: pink;
    height: 30px;
    width: 30px;
    border-radius: 100%;
    margin: 0 10px;
    animation: Load 0.8s ease infinite;
}

.loader .loading.one{
    animation-delay: 0.3s;
}
.loader .loading.two{
    animation-delay: 0.4s;
}
.loader .loading.three{
    animation-delay: 0.5s;
}
.loader .loading.four{
    animation-delay: 0.6s;
}

@keyframes Load{
    0%{
        width: 30px;
        height: 30px;
    }
    50%{
        width: 20px;
        height: 20px;
    }
}